.sets-top-level {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  min-height: 90vh;
  height: auto;
  border-radius: 20px;
}

.sets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
}

.sets-top-bar {
  display: flex;
  flex-direction: row;
}

.sets-top-bar-25 {
  flex-basis: 25%;
}

#sets-top-bar-title {
  flex-basis: 50%;
  text-align: center;
}

.sets-preview-container {
  transition: background-color 0.8s ease-out;
  background-color: var(--white);
  width: 33%;
  height: 20%;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
}

.sets-preview-container:hover {
  background-color: var(--green);
}

#sets-title {
}
