:root {
  --blue: #3489bd;
  --dark-blue: #0a65b5;
  --white: #ffffff;
  --green: #32cd32;
  --transparent: rgba(0, 0, 0, 0);
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--blue);
}
