.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: none;
}

.slideshow-item-left {
  margin-right: 5%;
  opacity: 0.4;
  transition: all 2s ease;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-item-active {
  opacity: 1;
  z-index: 10;
  transition: all 2s ease;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-item-right {
  margin-left: 5%;
  opacity: 0.4;
  transition: all 2s ease;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-item-left-left {
  opacity: 0;
  transition: all 2s ease;
  flex-basis: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-item-right-right {
  opacity: 0;
  transition: all 2s ease;
  flex-basis: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shift-left {
  transform: translateX(-15vw);
}

.shift-right {
  transform: translateX(15vw);
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-40 {
  opacity: 0.4;
}

.basis-0 {
  flex-basis: 0%;
}

.basis-25 {
  flex-basis: 25%;
}

.basis-50 {
  flex-basis: 50%;
}
